body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

.contact {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.contact span {
    color: #333;
}

.resume-header {
    margin-top: 30px;
}

.header-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.company-logo, .education-logo {
    width: 56px;
    height: 56px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: top;
}

h1, h2, h5, h6 {
    font-family: 'Merriweather', serif;
}

.project-link, .certification-link {
    color: #007bff;
    text-decoration: none;
}

.project-link:hover, .certification-link:hover {
    text-decoration: underline;
}

.certification-card {
    height: 100%;
}

.skills-section {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.skills-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume-title {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 576px) and (max-width: 768px) {
    .resume-title {
        font-size: 3rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .resume-header {
        margin-top: 30px;
    }

    .header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .resume-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .header-section {
        width: 100%;
    }
}